<!DOCTYPE html>
<html>
<head>
  <title>URLockBox</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="container">

  <div id="flash">
    <% flash.each do |name, msg| -%>
      <%= content_tag :div, msg, class: name %>
      <hr>
    <% end -%>
  </div>

  <% if current_user %>
    You are signed in under: <%= current_user.email %> | <%= link_to "Sign Out", logout_path, method: :delete %>
    <hr>
  <% else %>
    <%= link_to "Sign In", login_path %> | <%= link_to "Sign Up", signup_path %>
    <hr>
  <% end %>

  <%= yield %>

</div>

</body>
</html>
